.bounds.app--body
    include body/header.pug
    .grid-33
        .app--section
            ul.app--tweet--list
                include body/tweetList.pug
    .grid-33
        .app--section
            ul.app--user--list
                include body/userList.pug
    .grid-33
        .app--section
            ul.app--message--list
                include body/messageList.pug