doctype html
html(lang='en')
    head
        title Twitter Client
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="/static/css/global.css")
        link(href='https://fonts.googleapis.com/css?family=Work+Sans:400,600' rel='stylesheet' type='text/css')
    body
        include header.pug
        .bounds.app--body
          .error
            include body/subHeader.pug
          .error
            h1 Something went wrong :/ 
            h2 #{error.info}
            p= `${error.name} : ${error.message}`