each user in users
  li
    .circle--fluid
      .circle--fluid--cell.circle--fluid--primary
        a.app--tweet--author
          .app--avatar(style=`background-image: url(${user.profile_image_url})`)
            img(src=`${user.profile_image_url}`)
          h4 #{user.name}
          p @#{user.screen_name}  
      .circle--fluid--cell
        a.button.button-text Unfollow


